:root{
  --primary: #FFF;
  /* --primary: #a5eae3; */
  --secondary: #333;
  --accent1: #FF3366;
  --accent2: #0690DB;
  --accent3: #2EC4B6;
  --accent4: #892CDC;
  --grad1:#D8B5FF;
  --grad2:#1EAE98;
  --spin: 60px;

}
.dark-mode{
  --primary:  #333;
  --secondary: #FFF;
  --accent1: #33FFCC;
  --accent2: #DE621E;
  --accent3: #8A8E91;
  --accent4: #AAA;
  --grad1:#662D8C;
  --grad2:#ED1E79;
}
.nav-menu-body{
    top: 5px;
    position: sticky;
    align-items: right;
    justify-content: right;
    display: flex;
    margin-right: 2%;
}
.nav-menu{
  display: flex;
  justify-content: right;
  align-items: right;
  right: 0;
}

.nav-menu li{
  /* padding: 22px; */
  list-style: none;
  position: absolute;
  transform-origin: 11.82vw;
  transition: 1s;
  transition-delay:calc(0.15s*3.14/4 * var(--i));
  border-radius: 12px;
  box-shadow: 0 10px 5px hsla(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}
.menutoggle{
  width: 5.5vw;
  height: 5.5vw;
  background-color: aliceblue; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 10000;
  box-shadow:0 0 5px #000000b5;
  font-size: 2em;
  transition: 1.15s ease-in-out;
}

.nav-menu.menu-active .menutoggle{
  transform: rotate(270deg);
}
.nav-menu.menu-active li{
  transform: translateX(calc(var(--spin)*(-3.14/4) * var(--i)));
  align-items: center;
  top: 0.32rem;
  right: 1em;
  background: var(--secondary);
  font-size: 1.5em;
  padding: 22px;
}
.nav-menu li a{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 1vw;
}

.experiment-menu{
  display: none;
  position: relative;
  background-color:var(--accent1);
  border-radius: 10px;
  z-index: 1;
  top: 0.6em;
  padding: 0.6rem;
}
.experiment-menu a{
  font-family: Arial, sans-serif;
  font-size: 1em;
  color: var(--primary);
  text-decoration: none;
}
.experiment-menu a:hover{
  color: var(--accent1);
}
.experiment-menu a:visited{
  text-decoration: none;
  color: var(--primary);
}
.hover-menu {
  position: relative;
  display: inline-block;
}
.hover-menu:hover .experiment-menu{
  display: block;
}
#i3{ 
  min-height: 1vw;
  padding-bottom: 0.5vw;
}
.nav-menu.menu-active li #i3{
  transform: translateX(100px);
}
