*{
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, sans-serif;
}
  body{
    background-color: var(--primary);
    padding: 0.2rem;
  }
.title{
    background: linear-gradient(to right,var(--grad1),var(--grad2));
    text-align: center;
    padding: 1.5rem;
}
a{
    color: var(--primary);
}
a:hover{
    color:var(--accent1);
}
a:visited{
    color: var(--primary);
}

#tabpanel1{
    background-color: var(--primary);
    color: var(--secondary);
    text-align: left;
}
#tabpanel2{
    background-color: var(--accent2);
    padding: 5rem;
    /* background-image: url(../images/experiments/laser-interference2.jpg); */
    /* image-rendering: optimizeQuality; */
    background-size:cover;
    background-repeat: no-repeat;
}
#tabpanel3{
    background-color: var(--accent3);
}
#tabpanel4{
    background-color: var(--accent4);
}
a:active{
    color: var(--accent1);
}

.Theory{
    margin: 0.7rem;   
}
.flex{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    gap: 2em;
    overflow: hidden;
}
img{
    box-shadow: 0 0 20px 1px #1818189a;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }