*{
    /* Box sizing rules */
    box-sizing: border-box;
    /* Reset the 0.67em border/margin of some elements to 0 to have more control  */
    margin: 0;
    padding: 0;
}
.experiments{
    display: grid;
    gap: 1.5em;
    grid-template-areas:
    "exp1"
    "exp2"
    "exp3"
    "exp4"
    "exp5"
    "exp6" ;
    grid-auto-columns: 1fr;
    margin-inline: auto;
    padding-block: 2rem;
    max-width: 80%;
}
@media screen and (min-width:425px){
    /* :root{
        --spin:200px;
    }
    .nav-menu li{
        transform: translateY(-2vw) translateX(3vw);
        padding: 10%;
    }
    .nav-menu.menu-active li{
        font-size: 3em;
    }
    .menu-toggle{
        font-size: 10em;
        width: 22vw;
        height: 22vw;
    } */
    .experiments{
        grid-template-areas:
        "exp1"
        "exp2"
        "exp3"
        "exp4"
        "exp5"
        "exp6"  ;
    }
}
@media screen and (min-width:1024px){
    /* :root{
        --spin:60px;
    }
    .nav-menu li{
        transform: translateX(-2vw);
        padding: 22px;
    }
    .nav-menu.menu-active li{
        font-size: 1.5em;
    }
    .menu-toggle{
        font-size: 3em;
        width: 22vw;
        height: 22vw;
    }
     */
    .experiments{
        grid-template-areas: 
        "exp1 exp2 exp3"
        "exp4 exp5 exp6";
    }
}
/* .experiments:nth-child(1){
    grid-area: exp1;
}
.experiments:nth-child(2){
    grid-area: exp2;
}
.experiments:nth-child(3){
    grid-area: exp3;
}
.experiments:nth-child(4){
    grid-area: exp4;
}
.experiments:nth-child(5){
    grid-area: exp5;
}
.experiments:nth-child(6){
    grid-area: exp6;
} */