/*.flex-container{
    display: inline-grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    grid-template-columns:auto auto;
    column-gap: 20px;
    row-gap: 20px;
    overflow: hidden;
}
#container{
    height: auto;
    width: auto;
    position: relative; 
    padding: 5px;
    justify-content: center;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.8);
}
#container:hover{
    color: none;
    transform: scale(1.5);
    overflow: hidden;
}
.img1{
    grid-column-start: 1;
    grid-column-end: 2;
    overflow: hidden;
}
.img2{
    overflow: hidden;
}.img3{
    overflow: hidden;
}.img4{
    overflow: hidden;
}
*/
.flex-container,.container,.img-text{
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}
.container{
    align-self: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}
.img-text{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(240, 216, 181);
  text-align:center;
  font-family: Arial, sans-serif;
  font-size: 2em;
  font-size: 2.2vw;
  overflow: hidden;
}
.container:hover .img-text {
    opacity: 1;
  }
img:hover{
    transform: scale(1.5);
    transition:ease-in-out 0.3s;
    overflow: hidden;
}
