/* Root Colour Classes and other Classes */
:root{
  --primary: #FFF;
  /* --primary: #a5eae3; */
  --secondary: #333;
  --accent1: #FF3366;
  --accent2: #0690DB;
  --accent3: #2EC4B6;
  --accent4: #892CDC;
  --grad1:#D8B5FF;
  --grad2:#1EAE98;
  --inv: 100%;
  --footer: #000;
}
.dark-mode{
  --primary:  #333;
  --secondary: #FFF;
  --accent1: #33FFCC;
  --accent2: #FF5656;
  --accent3: #8A8E91;
  --accent4: #AAA;
  --grad1:#662D8C;
  --grad2:#ED1E79;
  --inv: 0%;
  --footer: #fff;
}

/* Text Formatting Classes */
.big-text-style, .mid-text-style, .small-text-style{
  font-family: Arial, sans-serif;
  font-weight: bold;
}
.big-text-style{
  font-size:2rem;
}
.mid-text-style{
  font-size: 1.5rem;
}
.small-text-style{
  font-size: 1rem;
}
.textwhite{
  color: var(--primary);
  text-decoration: none;
}
.textblack{
  color:var(--secondary);
}


/* Margins of various types */
.margin5{
  margin: 5px;
}
.margin10{
  margin: 10px;
}
.margin15{
  margin: 15px;
}

footer{
  /* margin: 2rem 0 0 0; */
  display: grid;
  place-items: center;
  background-color: var(--footer);
  color: var(--primary);
  padding: 4rem;
  text-align: center;
  box-sizing: border-box;
}
footer a{
  /* top: 5vw; */
  color: var(--primary);
}