/* Text Formatting Classes */
:root{
  --primary: #fff;
  --secondary: #333;
}
.big-text-style, .mid-text-style, .small-text-style{
  font-family: Arial, sans-serif;
  font-weight: bold;
}
.big-text-style{
  font-size:2rem;
}
.mid-text-style{
  font-size: 1.5rem;
}
.small-text-style{
  font-size: 1rem;
}
.textwhite{
  color: var(--primary);
  text-decoration: none;
}
.textblack{
  color:var(--secondary);
}

/* Margins of various types */
.margin5{
  margin: 5px;
}
.margin10{
  margin: 10px;
}
.margin15{
  margin: 15px;
}