h1{
    font-family: Arial, sans-serif;
    background-color: #e6ac1c;
    text-align: center;
    padding: 1.5%;
}
h2{
    font-family: Arial, sans-serif;
    text-decoration: underline;
    font-size: 25px;
    background-color: #ecdbc4;
    padding: 1.5%;
}
h3{
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #fde1bf;
    padding: 1.5%;
}
.index{
    font-size: 15px; 
    margin-left: 5.9%;
    margin-right: 5%;
    word-spacing: 2px;
    padding: 5px;
    border-style: double;
    border-width: 5px;
    border-radius: 10px;
}
a{
    font-family: Arial, sans-serif;
    text-decoration: solid;
    font-size: 20px; 
}
a:visited{
    color: black;
}
body{
    background: color #f2f2f2;;
}
.para1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-overflow: clip;
    margin-left: 5%;
    margin-right: 5%;
    word-spacing: 2px;
    padding: 5px;
}
.flex-container{
    display: flex;
    flex-direction: row;
}
.img1{
    height: 400px;
    width: 5500px;
    margin-right: 10%;
    margin-left: 3%;
    border-style: double;
    border-width: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/UT_principe.svg/330px-UT_principe.svg.png );
    background-position: center;
    background-size: cover;
    transition: 0.3s ease-in-out;
    overflow:hidden;
}
.img1:hover{
    transform: scale(1.3);
}

.img2{
    position: relative;
    height: 250px;
    width: 500px;
    margin-left: 5%;
    border-style: double;
    border-width: 5px;
    border-radius: 10px;
    background-image: url(https://j.gifs.com/Kr7wGx.gif);
    background-position: center;
    background-size: cover;
    transition: 0.3s ease-in-out;
    overflow:hidden;
}

.formula{
    position: relative;
    font-size: 25px;
    border-style: groove;
    border-width: 7px;
    padding: 7%;
    text-align: center;
    margin-left: 5%;
}
table{
    margin-left: 5%;
    font-family: Arial, sans-serif;
    background-color: rgb(250, 250, 233);
    border-width: 3px;
    padding: 8px;
}