*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.logo{
  scale: 2.3;
  padding: 2dvw;
}
body{
  background-color: var(--primary);
  color: var(--secondary);
}
/* Primary and Secondary Colors */
:root{
  --primary: #fff;
  /* --primary: #a5eae3; */
  --secondary: #333;
  --accent1: #5AA9E6;
  --accent2: #0690DB;
  --accent3: #006fab;
  --accent4: #B8B8B8;
  --grad1:#D8B5FF;
  --grad2:#1EAE98;

}
.dark-mode{
  --primary:  #333;
  --secondary: #fff;
  --accent1: #FF4B3E;
  --accent2: #D4AA7D;
  --accent3: #996833;
  --accent4: #272727;
  --grad1:#662D8C;
  --grad2:#ED1E79;
}
.primarybg{
  background-color: var(--primary);
}
.secondarybg{
  background-color: var(--secondary);
}
.big-text-style, .mid-text-style, .small-text-style{
  font-family: Arial, sans-serif;
  font-weight: bold;
}
.big-text-style{
  font-size:2rem;
}
.mid-text-style{
  font-size: 1.5rem;
}
.small-text-style{
  font-size: 1rem;
}
.textwhite{
  color: #fff;
  text-decoration: none;
}
.textblack{
  color:#000;
}

/* Margins of various types */
.margin5{
  margin: 5px;
}
.margin10{
  margin: 10px;
}
.margin15{
  margin: 15px;
}
/* Page Header */
header{
  display: flex;
  justify-content: space-between;
  max-height: 10dvh;
  align-items: center;
  margin: 0;
  top: 0;
  position: relative;
  margin-bottom: 5px;
  /* background: linear-gradient(to right, --secondary, #FF4B3E); */

}
header ul{
  display: flex;
  list-style: none;
}
header li{
  padding: 2dvh;
}
/* Parallax Shit please don't touch unknowingly */
.parallax{
    min-height: 150dvh;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.imgparallax {
  background-size: cover;
  background-repeat:no-repeat;
  /* https://www.austincc.edu/sites/default/files/sem-physics.jpg ---maybe use this later */
  /* background-image: url('https://images.unsplash.com/photo-1635070041078-e363dbe005cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80'); */
  background-image: url("https://images.unsplash.com/photo-1635070041078-e363dbe005cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
}
.imgparallax1{
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url('/videos/rube1.mp4'); */
  background-image: url('https://www.austincc.edu/sites/default/files/sem-physics.jpg');
}
/* Introduction Style Text Editing */
.introduction p , .introduction ol{
  line-height: 1.5em;
  font-size: 1em;
}
/* Experiment Index Cards */

.card {
  margin: 1%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  justify-content: space-between;
  background-color: var(--secondary);
  color: var(--primary);
  /* aspect-ratio: 1; */
  background-repeat: no-repeat;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  height: 30dvh;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

.card-title, .card-description{
  margin: 15px;
}
.card-description{
  line-height: 1.7rem;
}
.card a{
  color: var(--primary);
}
.nav-menu a{
  color: var(--primary);
}
a{
  color: var(--secondary);
  text-decoration: none;
}
a:hover{
  color: var(--accent1);
}
/* .card-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  font-size: 14px;
  line-height: 1.5;
} */
/*
Kinda Unnecessary stuff here
.parallax {
  min-height: fit-content;
  height: 100dvh;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
 } */
 /* body.dark-mode{
  background-color: #333;
  color: #fff;
} */
/* This was the old code written using flex the newer one uses responsive grid 
.experiments{
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
} */

.grad{
  background: linear-gradient(to right, var(--grad1), var(--grad2));
}