*{
    text-decoration: none;
}
#icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
/* .nav .ul{
    flex: 1;
    text-align: right;
} */
.navbar{
    background: linear-gradient(to right,#C6EA8D,#FE90AF);
    font-family: sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    position: relative;
    top: 0;
    /* #02AABD → #00CDAC */
    /* #C6EA8D → #FE90AF */
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
.logo{
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    background: linear-gradient(to right,#C33764,#1D2671);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* #C33764  → #1D2671 */
}

.logo a{
    font-size: 35px;
    font-weight: 600;
    color: antiquewhite;
    text-decoration: none;
}
li{
    list-style: none;
    display: inline-block;
    border-right: 3px transparent;
    border-bottom: 3px transparent;
    border-left: 3px transparent;
    border-top: 3px transparent;
    text-decoration: none;
}
li:hover{
    background: #990012;
    text-decoration: none;
}

li a{
    color: antiquewhite;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
}
.active a{
    text-decoration: none;
}